{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% block body %}
{% load static %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span><a href="{% url 'account' %}">Account</a> <span class="mx-2 mb-0">/</span>  <strong class="text-black">Order</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
                <h2 class="h3 mb-3 text-black">Order ID: {{oid}}</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item, quantity in orderDet %}
                    <tr>
                      <td class="product-name">
                        <h2 class="h5 text-black">{{item.product_name}}</h2>
                      </td>
                      <td>${{item.price}}</td>
                      <td>{{quantity}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>

          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">${{total}}</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">${{total}}</strong>
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
