{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoppers | Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">


    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>

<body>
    <div class="site-section">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="col-md-6 mb-5 mb-md-0" style="display: block;">
                <h2 class="h3 mb-3 text-black" style="text-align: center;">REGISTER</h2>
                <div class="p-3 p-lg-5 border">
                        <form action="/registerUser/" method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-md-6">
                                  <label for="c_diff_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" id="c_diff_fname" name="c_diff_fname" style="height: 2.25rem;" placeholder="First Name">
                                </div>
                                <div class="col-md-6">
                                  <label for="c_diff_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                                  <input type="text" class="form-control" id="c_diff_lname" name="c_diff_lname" style="height: 2.25rem;" placeholder="Last Name">
                                </div>
                              </div>
                            <div class="form-group">
                                <label for="pass" class="text-black">Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="pass" name="pass" style="width: 20rem;" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="cpass" class="text-black">Confirm Password <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="cpass" name="cpass" style="width: 20rem;" placeholder="Confirm Password">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="text-black">Phone Number <span class="text-danger">*</span></label>
                                <input type="tel" class="form-control" id="phone" name="phone" style="width: 20rem;" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-black">Email ID <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" name="email" style="width: 20rem;" placeholder="Email ID">
                            </div>
                            <br>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">Register</button>
                            </div>
                            <p class="text-black mb-3" style="color: red;">{{msg}}</p>
                        </form>
                        <a href="{% url 'login' %}">Already have an account? Click here to login.</a>
                    </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
