{% extends 'base.html' %}
{% block title %}Shop{% endblock %}

{% block body %}
{% load static %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
                <div class="d-flex">
                  
                </div>
              </div>
            </div>
            <div class="row mb-5">
              <p>{{msg}}</p>
              {% for product, prodimg in products %}
              <form action="/product/" method="get">
                {% csrf_token %}
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up" style="width: 100%;">
                  <div class="block-4 text-center border" style="display: flex; width: 30rem; height: 29rem;">
                    <figure class="block-4-image">
                      <img src="{{prodimg.image.url}}" alt="Product" class="img-fluid">
                    </figure>
                    <div class="block-4-text p-4">
                      <input type="hidden" name="pid" id="pid" value="{{product.product_id}}">
                      <button type="submit" style="border: none; cursor: pointer; background-color: white;"><h3>{{product.product_name}}</h3></button>
                      <p class="mb-0">Lorem ipsum dolor sit amet consectetur</p>
                      <p class="text-primary font-weight-bold">${{product.price}}</p>
                    </div>
                  </div>
                </div>
              </form>
              {% endfor %}
              
            </div>
            
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><form action="/filter/" method="get">
                  <input type="hidden" name="filter" id="filter" value="men">
                  <button type="submit" style="border: none; background-color: white;" class="collect">
                    <div class="d-flex" style="color: #7971ea; cursor: pointer;"><span>Men</span> </div>
                  </button>
                </form></li>
                <li class="mb-1"><form action="/filter/" method="get">
                  <input type="hidden" name="filter" id="filter" value="women">
                  <button type="submit" style="border: none; background-color: white;" class="collect">
                    <div class="d-flex" style="color: #7971ea; cursor: pointer;"><span>Women</span> </div>
                  </button>
                </form></li>
                </ul>
            </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="site-section site-blocks-2">
                <div class="row justify-content-center text-center mb-5">
                  <div class="col-md-7 site-section-heading pt-4">
                    <h2>Categories</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <form action="/filter/" method="get">
                      <input type="hidden" name="filter" id="filter" value="women">
                      <button type="submit" style="border: none;" class="collect">
                        <div class="block-2-item">
                          <figure class="image">
                            <img src="{% static 'images/women.jpg' %}" alt="" class="img-fluid">
                          </figure>
                          <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>Women</h3>
                          </div>
                        </div>
                      </button>
                    </form>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <form action="/filter/" method="get">
                      <input type="hidden" name="filter" id="filter" value="men">
                      <button type="submit" style="border: none;" class="collect">
                        <div class="block-2-item">
                          <figure class="image">
                            <img src="{% static 'images/men.jpg' %}" alt="" class="img-fluid">
                          </figure>
                          <div class="text">
                            <span class="text-uppercase">Collections</span>
                            <h3>Men</h3>
                          </div>
                        </div>
                      </button>
                    </form>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>

    {% endblock %}